name: Auto-add issues and PRs to project

on:
  issues:
    types: [opened]
  pull_request:
    types: [opened]

jobs:
  add-to-project:
    name: Add to project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/add-to-project@v1.0.2
        with:
          project-url: https://github.com/users/makcimerrr/projects/2
          github-token: ${{ secrets.PROJECT_TOKEN }}
